# Basic cleaning

In [1]:
import pandas as pd

## Cleaning Population DS

In [2]:
original_pop_db = pd.read_excel('population.xlsx')
original_pop_db.head(10)

,ANO,GEO_COD,GEO_COD_DSG,NIVEL,NIVEL_DSG,N_INDIVIDUOS_RESIDENT,N_INDIVIDUOS_RESIDENT_H,N_INDIVIDUOS_RESIDENT_M
0,2011,'PT,PT,1,Total Nacional,10562178,5046600,5515578
1,2011,'1,Continente,2,NUT1,10047621,4798798,5248823
2,2011,'17,Lisboa,3,NUT2,2821876,1334605,1487271
3,2011,'171,Grande Lisboa,4,NUT3,2042477,961132,1081345
4,2011,'1106,Lisboa,5,Municipio,547733,250874,296859
5,2011,'110601,Ajuda,6,Freguesia,15584,7120,8464
6,2011,'110602,Alcântara,6,Freguesia,13943,6254,7689
7,2011,'110603,Alto do Pina,6,Freguesia,10333,4687,5646
8,2011,'110604,Alvalade,6,Freguesia,8869,3764,5105
9,2011,'110605,Ameixoeira,6,Freguesia,11863,5568,6295

In [3]:
# Selecting just the cols that we want to display

pop_db = original_pop_db[['GEO_COD_DSG', 'NIVEL_DSG', 'N_INDIVIDUOS_RESIDENT']]

pop_db = pop_db[(pop_db['NIVEL_DSG'] == 'Freguesia')]

pop_db = pop_db[['GEO_COD_DSG', 'N_INDIVIDUOS_RESIDENT']]

pop_db.head(10)

     GEO_COD_DSG  N_INDIVIDUOS_RESIDENT
5          Ajuda                  15584
6      Alcântara                  13943
7   Alto do Pina                  10333
8       Alvalade                   8869
9     Ameixoeira                  11863
10         Anjos                   9361
11         Beato                  12429
12       Benfica                  36821
13  Campo Grande                  10514
14     Campolide                  15460

In [4]:
# Renaming the columns

pop_db.columns = ['FREGUESIAS', 'TOTAL RESIDENTS']

pop_db['FREGUESIAS'] = pop_db['FREGUESIAS'].str.upper()

pop_db.head(10)

      FREGUESIAS  TOTAL RESIDENTS
5          AJUDA            15584
6      ALCÂNTARA            13943
7   ALTO DO PINA            10333
8       ALVALADE             8869
9     AMEIXOEIRA            11863
10         ANJOS             9361
11         BEATO            12429
12       BENFICA            36821
13  CAMPO GRANDE            10514
14     CAMPOLIDE            15460

In [5]:
pop_db.shape

(53, 2)

## Cleaning Freguesias DS

In [13]:
# Importing the file

original_freguesias_db = pd.read_csv('Freguesias2012.csv')
original_freguesias_db.head(20)

,OBJECTID,COD_SIG,NOME,IDTIPO,PERIMETRO,AREA_M2,FREGUESIAS53,GlobalID,Shape__Area,Shape__Length
0,1,122,Santo António,4015,6313.94,1494348.58,Coração de Jesus + São José + São Mamede,9de1ceba-f851-4181-a39b-a4f8bc15f3c5,2.458057e+06,8097.074172
1,2,118,Parque das Nações,4015,12237.24,5435124.30,Santa Maria dos Olivais,aee6efb3-c624-4d82-b5f8-a98c4444b8c6,8.953807e+06,15724.284710
2,3,115,Marvila,4015,12216.54,7122521.90,Marvila,d6c144c0-6ffc-46d7-b6bf-f10fa7977b89,1.172476e+07,15674.400259
3,4,101,Ajuda,4015,9153.10,2876647.11,Ajuda,cdcaeb5c-7228-4a89-9091-9fb9be097e6e,4.730508e+06,11740.588160
4,5,104,Areeiro,4015,6358.83,1719002.47,Alto do Pina + São João de Deus,d1e276ef-009e-4290-a8b8-73643141a71e,2.829203e+06,8153.225327
5,6,121,Santa Maria Maior,4015,9306.07,3011591.52,Castelo + Madalena + Mártires + Sacramento +Sa...,60af311b-84fb-4a39-856a-291d65993f97,4.952034e+06,11936.070712
6,7,103,Alvalade,4015,10751.30,5341751.02,Alvalade + Campo Grande + São João de Brito,e9ec7868-7b40-478a-87b3-c6ad6e373e5a,8.794657e+06,13786.968033
7,8,108,Belém,4015,16050.78,10426948.88,Santa Maria de Belém + São Francisco Xavier,3a6d0af1-130a-4c90-80f6-b6017dac1ca1,1.713895e+07,20577.231795
8,9,113,Estrela,4015,9927.92,4604095.97,Lapa + Prazeres + Santos-o-Velho,ba35868d-aa59-40db-8737-469f48274ce9,7.569528e+06,12734.386771
9,10,105,Arroios,4015,8240.38,2127871.88,Anjos + Pena + São Jorge de Arroios,ec8fa8b1-49e5-49bb-a311-1f51aafa5e77,3.500783e+06,10572.552949
10,11,120,Santa Clara,4015,9431.48,3355562.58,Ameixoeira + Charneca,7c409727-e07d-41bf-bc65-18b3c4c619a2,5.529409e+06,12107.747775
11,12,106,Avenidas Novas,4015,8789.86,2994523.99,Nossa Senhora de Fátima + São Sebastião da Ped...,4dba39f3-c22c-4e53-83b3-a884e5c8f731,4.927916e+06,11274.864029
12,13,112,Carnide,4015,10445.19,3688827.32,Carnide,355aaafc-030e-46a2-95ca-0fe725545b8b,6.075093e+06,13404.426050
13,14,123,São Domingos de Benfica,4015,10009.46,4294403.21,São Domingos de Benfica,c2c273ab-e383-4cc7-a0d9-3fd280e0b8e9,7.068743e+06,12839.997937
14,15,107,Beato,4015,8329.64,2483775.04,Beato,1f3c537a-f720-4187-bff9-19f9389a419e,4.086759e+06,10685.118420
15,16,111,Campolide,4015,8506.73,2774372.95,Campolide,bfe7ec0e-76af-4a58-ad15-8de847b2faf7,4.564789e+06,10906.671317
16,17,102,Alcântara,4015,11258.45,5074843.76,Alcântara,921cf6af-b88c-47ea-8eda-ea6ca6680e89,8.344777e+06,14443.931054
17,18,110,Campo de Ourique,4015,6605.93,1651405.17,Santa Isabel + Santo Condestável,16b4ad84-3f12-4655-8a82-a7dfed75ec8d,2.716167e+06,8472.132470
18,19,124,São Vicente,4015,6997.46,1985855.99,Graça + Santa Engrácia + São Vicente de Fora,b122835b-4614-4f7b-87c4-fd3153d9b27b,3.266135e+06,8974.770361
19,20,117,Olivais,4015,12584.00,8088293.95,Santa Maria dos Olivais,775c657a-8172-462d-af7c-394587eb8a86,1.332305e+07,16147.938031

In [14]:
# Selecting the cols that we want to keep

freguesia_db = original_freguesias_db[['NOME', 'AREA_M2', 'FREGUESIAS53']]
freguesia_db.head(10)

,NOME,AREA_M2,FREGUESIAS53
0,Santo António,1494348.58,Coração de Jesus + São José + São Mamede
1,Parque das Nações,5435124.30,Santa Maria dos Olivais
2,Marvila,7122521.90,Marvila
3,Ajuda,2876647.11,Ajuda
4,Areeiro,1719002.47,Alto do Pina + São João de Deus
5,Santa Maria Maior,3011591.52,Castelo + Madalena + Mártires + Sacramento +Sa...
6,Alvalade,5341751.02,Alvalade + Campo Grande + São João de Brito
7,Belém,10426948.88,Santa Maria de Belém + São Francisco Xavier
8,Estrela,4604095.97,Lapa + Prazeres + Santos-o-Velho
9,Arroios,2127871.88,Anjos + Pena + São Jorge de Arroios

In [15]:
# Renaming the cols

freguesia_db.columns = ['CURRENT FREGUESIAS', 'AREA', 'OLD FREGUESIAS']

freguesia_db['CURRENT FREGUESIAS'] = freguesia_db['CURRENT FREGUESIAS'].str.upper()

freguesia_db.head(10)

/Users/mattymrc/.pyenv/versions/3.7.5/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,CURRENT FREGUESIAS,AREA,OLD FREGUESIAS
0,SANTO ANTÓNIO,1494348.58,Coração de Jesus + São José + São Mamede
1,PARQUE DAS NAÇÕES,5435124.30,Santa Maria dos Olivais
2,MARVILA,7122521.90,Marvila
3,AJUDA,2876647.11,Ajuda
4,AREEIRO,1719002.47,Alto do Pina + São João de Deus
5,SANTA MARIA MAIOR,3011591.52,Castelo + Madalena + Mártires + Sacramento +Sa...
6,ALVALADE,5341751.02,Alvalade + Campo Grande + São João de Brito
7,BELÉM,10426948.88,Santa Maria de Belém + São Francisco Xavier
8,ESTRELA,4604095.97,Lapa + Prazeres + Santos-o-Velho
9,ARROIOS,2127871.88,Anjos + Pena + São Jorge de Arroios

## Cleaning Public Lighting DS

In [9]:
# Importing the file

original_lights_db = pd.read_csv('Candeeiros.csv')
original_lights_db.head(10)

,X,Y,OBJECTID_1,FREGUESIA,TIPOLOGIA,COD_SIG,MORADA,GlobalID
0,-9.141983,38.710343,2001,SANTA MARIA MAIOR,Consola,320058790.0,Rua Paiva de Andrada,52dcd30e-57f5-453c-9455-deb7784e97d9
1,-9.142045,38.709027,2002,SANTA MARIA MAIOR,Consola,320059024.0,Largo do Picadeiro,d14a744d-b274-4253-9820-5db4e22072ae
2,-9.141898,38.709226,2003,SANTA MARIA MAIOR,Consola,320058467.0,Largo do Picadeiro,b2689a5a-ce30-44b2-b70c-7de1eb9fdadf
3,-9.141974,38.709676,2004,SANTA MARIA MAIOR,Consola,320058468.0,Largo do Picadeiro,4e3d4e6a-0cfc-4029-b127-d375b80a6e90
4,-9.139831,38.722655,2005,ARROIOS,Coluna,320058551.0,Campo dos Mártires da Pátria,d3aef766-296b-4d94-bf2d-92b2c5dd1691
5,-9.139617,38.722630,2006,ARROIOS,Coluna,320058078.0,Campo dos Mártires da Pátria,90f4b46a-5bdd-44e1-9bf7-f7659304c481
6,-9.139928,38.722669,2007,ARROIOS,Coluna,320058181.0,Campo dos Mártires da Pátria,a63d3be0-dcc2-4723-ad28-7081c55472dc
7,-9.140245,38.722624,2008,ARROIOS,Coluna,320058141.0,Campo dos Mártires da Pátria,041912a9-7f2b-4af7-958e-0a7b7b85ddd6
8,-9.140179,38.722510,2009,ARROIOS,Coluna,320058552.0,Campo dos Mártires da Pátria,2dc9338e-30fe-4b1c-92ec-7c55bed91b74
9,-9.140049,38.722626,2010,ARROIOS,Coluna,320058182.0,Campo dos Mártires da Pátria,f9654514-3675-4c30-9b4d-03ea9f4a655e

In [18]:
# Selecting the cols we want and renaming the cols

lights_db = original_lights_db[['OBJECTID_1', 'FREGUESIA', 'MORADA']]

lights_db.columns = ['OBJECT NUMBER', 'FREGUESIA', 'ADDRESS']

lights_db.head(20)

    OBJECT NUMBER          FREGUESIA                                ADDRESS
0            2001  SANTA MARIA MAIOR                   Rua Paiva de Andrada
1            2002  SANTA MARIA MAIOR                     Largo do Picadeiro
2            2003  SANTA MARIA MAIOR                     Largo do Picadeiro
3            2004  SANTA MARIA MAIOR                     Largo do Picadeiro
4            2005            ARROIOS           Campo dos Mártires da Pátria
5            2006            ARROIOS           Campo dos Mártires da Pátria
6            2007            ARROIOS           Campo dos Mártires da Pátria
7            2008            ARROIOS           Campo dos Mártires da Pátria
8            2009            ARROIOS           Campo dos Mártires da Pátria
9            2010            ARROIOS           Campo dos Mártires da Pátria
10           2011            ARROIOS           Campo dos Mártires da Pátria
11           2012            ARROIOS           Campo dos Mártires da Pátria
12           2013            ARROIOS           Campo dos Mártires da Pátria
13           2014            ARROIOS           Campo dos Mártires da Pátria
14           2015            ARROIOS           Campo dos Mártires da Pátria
15           2016            ARROIOS           Campo dos Mártires da Pátria
16           2017      SANTO ANTONIO    Rua Maestro Pedro de Freitas Branco
17           2018             LUMIAR  Rua Amilcar Cabral (antigo Arruamento
18           2019             LUMIAR  Rua Amilcar Cabral (antigo Arruamento
19           2020             LUMIAR           Alameda das Linhas de Torres

In [19]:
lights_db.shape

(62840, 3)