## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [24]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [25]:
sample_list_1 =(random.sample(range(100), k=80))
print(sample_list_1, end=' ')

[71, 23, 34, 88, 64, 42, 47, 27, 39, 29, 63, 4, 6, 0, 58, 12, 70, 31, 60, 90, 5, 28, 67, 40, 37, 15, 82, 19, 94, 55, 22, 49, 86, 50, 25, 53, 98, 85, 91, 38, 92, 46, 26, 45, 20, 59, 73, 41, 89, 14, 80, 61, 52, 35, 87, 32, 30, 65, 24, 97, 79, 81, 76, 99, 62, 1, 8, 18, 72, 57, 48, 66, 21, 68, 3, 10, 2, 11, 96, 56]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [26]:
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [27]:
sample_list_2 = [random.randint(0,100) for n in range(80)]
print(sample_list_2, end=' ')

[78, 52, 100, 80, 84, 24, 96, 34, 78, 79, 17, 54, 70, 20, 48, 55, 24, 73, 4, 26, 36, 29, 21, 18, 35, 2, 98, 37, 61, 76, 33, 0, 76, 76, 81, 61, 67, 82, 99, 55, 82, 63, 11, 61, 94, 59, 8, 91, 89, 10, 80, 53, 57, 51, 93, 61, 8, 55, 27, 45, 5, 75, 55, 18, 92, 81, 85, 16, 2, 86, 90, 89, 58, 34, 39, 58, 3, 76, 50, 97]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [28]:
set2 = set(sample_list_2)
print(len(set2))

60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [29]:
set3 = set([element for element in set1 if element not in set2])
print(set3, sep = ' ')

{1, 6, 12, 14, 15, 19, 22, 23, 25, 28, 30, 31, 32, 38, 40, 41, 42, 46, 47, 49, 56, 60, 62, 64, 65, 66, 68, 71, 72, 87, 88}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [30]:
set4 = set([element for element in set2 if element not in set1])
print(set4, sep = ' ')

{33, 36, 100, 75, 78, 16, 17, 51, 84, 54, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [31]:
set5 = set([element for element in set1 if element in set2])
print(set5, sep = ' ')

{0, 2, 3, 4, 5, 8, 10, 11, 18, 20, 21, 24, 26, 27, 29, 34, 35, 37, 39, 45, 48, 50, 52, 53, 55, 57, 58, 59, 61, 63, 67, 70, 73, 76, 79, 80, 81, 82, 85, 86, 89, 90, 91, 92, 94, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [32]:
import numpy as np
len(set1) == len(set3) + len(set5)
len(set2) == len(set4) + len(set5)

True

#### Create an empty set called `set6`.

In [44]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [45]:
set6.update(set3, set5)  #error of assigning this to set6 now fixed

#### Check if `set1` and `set6` are equal.

In [46]:
type(set6) #set.update is an in-place operation, which means it changes the original set and returns None. 
           #So if you assign the result to a variable you just assign it a None.

set

In [51]:
if set1 == set6:
    print("Equal")
else:
    print("Not equal")

Equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [52]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [69]:
s = set3.union(set4, set5)
t = set1.union(set2)
if s == t:
    print("Equal")
else:
    print("False")

Equal

#### Using the `pop` method, remove the first element from `set1`.

In [26]:
list(set1).pop(0)

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [78]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for n in list_to_remove:
    if n in set1:
         set1.remove(n)
print(set1)

{4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 32, 33, 34, 35, 37, 38, 40, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 75, 77, 82, 83, 85, 86, 88, 90, 93, 94, 95, 97, 98}